html,
body {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

a:hover {
  font-weight: bold;
}

main {
	grid-template-columns: 1fr 4fr 1fr;
}

nav {
	display: block;
}

.home-title {
	font-size: 2.5rem;
}

.group-image {
  grid-row-start: 2;
}

.group-heading {
  grid-column-start: 1;
}

.group-content {
  grid-column-start: 2;
  grid-row-start: 2
}

.quote {
  font-size: 4rem;
}

@media (max-width: 900px ) {
	main {
		grid-template-columns: 1fr 4fr;
	}

	nav {
	display: none;
}


	.home-title {
	font-size: 1.5rem;
}
}

@media (max-width: 700px) {
		main {
		grid-template-columns: 1fr;
	}

  .group-image {
    grid-row-start: 1;
  }

  .group-heading {
    grid-column-start: 2;
  }

  .group-content {
    grid-column-start: 1;
  }

  .quote {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
.quote {
    font-size: 1rem;
  }

  .group-image {
    grid-row-start: 2;
	margin-top: 0 !important;
  }

  .group-heading {
    grid-column-start: 1;
	font-size: 1.5rem;
  }

  .group-content {
	grid-row-start: 3;
  }

  .group-content p {
		font-size: 1.1rem !important;
  }

  article {
	margin-bottom: 8rem !important;
  }


  .home-title {
	font-size: 1rem;
  }

  main {
	padding: 0 !important;
	max-width: 100vw;
  }
}